.detail_page {
  width: 100%;
  font-family: "Kalam", cursive;
  display: flex;
  flex-direction: column;
  padding-bottom: 3rem;
}

.header_detail {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 600px;
  width: 100%;
  position: relative;
  background-image: url("../assets/image1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
  /* back */
}

.header_detail::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
}

.wrapper_detail {
  z-index: 20;
  width: 80%;
  margin: -200px auto 0;
  text-align: left;
}
.card_detail {
  width: 100%;
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding-top: 4rem;
  gap: 2rem;
}
.header_detail h1 {
  margin-top: -70px;
  font-size: 5em;
  color: orange;
  text-shadow: 2px 2px 8px black;
  z-index: 10;
}
.card_detail .image_thumnail {
  flex: 1;
  height: 500px;
  width: 100%;
  object-fit: cover;
  margin-bottom: 0.5rem;
  box-shadow: 00px -10px 30px 10px rgba(0, 0, 0, 0.5);
}

.dec {
  flex: 1;
  background: #eee3cb;
  color: rgba(0, 0, 0, 0.7);
  text-align: justify;
  padding: 0.5rem 1rem 1rem;
  box-shadow: 0px -10px 30px 10px rgba(0, 0, 0, 0.5);
}
.dec h3 {
  font-size: 2em;
}
.category,
.asal,
.panduan {
  margin: 0.5rem 0;
}
